<template>
    <div>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12">
                    Leads
                </b-col>
            </b-row>
        </b-container>
        <octo-header-button
            @onShowNewLeadSidebar="openSidebarLead"
            :buttons="headerButtons"/>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12" class="mt-3">
                    <lead-datatable
                        :key="leadsDatatableKey"
                        @onOpenLead="openSidebarLead"
                    />
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import Lead from "../models/lead";
    import LeadDatatable from "../datatables/LeadDatatable";
    import OctoHeaderButton from "@octoCmsComponents/octo-header-buttons/OctoHeaderButton";
    import OctoSidebarRight from "@octoCmsComponents/octo-sidebar-right/OctoSidebarRight";

    export default {
        name: "LeadView",
        components: {LeadDatatable, OctoSidebarRight, OctoHeaderButton},
        data() {
            return {
                headerButtons: [
                    {
                        label: 'Nuovo lead',
                        onClick: 'onShowNewLeadSidebar',
                        icon: 'plus'
                    },
                ],
                currentLead: Lead,
                leadsDatatableKey: 1,
            }
        },
        methods: {
            openSidebarLead: function () {
                console.log('open Lead Sidebar')
            },
        }
    }
</script>

<style scoped lang="scss">

</style>
