<template>
    <octo-table
        :action="routes.DATATABLES.leads"
        :fields="fields"
        :filters="filters"
        :show-filters="true"
        name="LeadDataTable"
    >
        <template v-slot:cell(id)="data">
            <div>{{data.item.id}}</div>
        </template>

        <template v-slot:cell(date_in)="data">
            <div>{{data.item.date_in}}</div>
        </template>

        <template v-slot:cell(date_out)="data">
            <div>{{data.item.date_out}}</div>
        </template>

        <template v-slot:cell(status)="data">
            <div>{{data.item.status}}</div>
        </template>

        <template v-slot:cell(actions)="data">
            <span class="mx-2" v-on:click="$emit('onOpenLead', data.item)">
                <octo-icon icon="open-folder"/>
            </span>
        </template>
    </octo-table>
</template>

<script>
    import OctoTable from "@octoCmsComponents/octo-table/OctoTable";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
    import {routes} from "../routes";

    export default {
        name: "LeadDatatable",
        components: {OctoIcon, OctoTable},
        data() {
            return {
                routes: routes,
                filters: {},
                fields: [
                    {key: 'id', label: 'ID', class: 'text-center'},
                    {key: 'status', label: 'Stato', class: 'text-left'},
                    {key: 'date_in', label: 'Data importazione', class: 'text-center'},
                    {key: 'date_out', label: 'Data lavorazione', class: 'text-center'},
                ]
            }
        },
    }
</script>

<style scoped>

</style>
